<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PixelColorDetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PixelColorDetector.Properties.Settings>
            <setting name="ViseurShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Xcoord" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Ycoord" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SonViolet" serializeAs="String">
                <value>(pas de son)</value>
            </setting>
            <setting name="SonRouge" serializeAs="String">
                <value>(pas de son)</value>
            </setting>
            <setting name="useSonViolet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSonRouge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaybackDeviceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedVioletColorStr" serializeAs="String">
                <value>#E600E6</value>
            </setting>
            <setting name="SavedRougeColorStr" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="useAutoScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoScanTimerValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="VolumeViolet" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VolumeRouge" serializeAs="String">
                <value>100</value>
            </setting>
        </PixelColorDetector.Properties.Settings>
    </userSettings>
</configuration>